@include keyframes(rotate-float) {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@include keyframes(ripple) {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    70% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}