@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&family=Rubik:wght@300;400;600&display=swap');

$color-background: #d2edf9;
$color-background-2: #1979a9;
$color-background-3: #7ad5cf;
$color-white: #EFF2F8;
$color-blue: #6da9e4;

* {
    font-family: 'Noto Sans TC', 'Rubik', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.6;
}

@media only screen and (max-width: 450px) {
    * {
        font-size: 16px;
    }

    .desktop-only {
        opacity: 0;
    }

    .mobile-none {
        display: none;
    }
}


/**
 * 漸變動畫
 */
@mixin setTransition ($transition: all 0.3s ease-in-out) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}


/**
 * == box-shadow ==
 * 兼容主要瀏覽器shadow語法
 * @param $shadow : shadow 設定
 */
@mixin shadow($shadow...) {

    @each $pre in -webkit-,
    -moz-,
    -ms-,
    -o- {
        #{$pre + box-shadow}: $shadow;
    }

    #{box-shadow}: $shadow;
}

/**
 * == keyframes ==
 * 兼容主要瀏覽器動畫(keyframes)語法
 * @param $name : keyframe 名稱
 */
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}



.single-highlight {
    font-weight: bold;

    &:before,
    &:after {
        content: " ";
    }
}