$color-background: #d2edf9;
$color-background-2: #1979a9;
$color-background-3: #7ad5cf;
$color-background-4: #4EA6BD;
$color-background-5: #9fdee4;
$color-white: #EFF2F8;
$color-blue: #31b282;
$color-red: #df5c3e;
$color-yellow: #e09601;
$color-purple: #b257c8;
$color-gray: #949494;
$color-font: #404040;